<style type="text/css">
<!--
A:link{color:#000000 ; TEXT-DECORATION: none ; }
A:visited{color:#000000; TEXT-DECORATION: none ; }
A:hover{color:red; TEXT-DECORATION: none ; }
A:active{color:#000000; TEXT-DECORATION: none ; }
.txt { FONT-FAMILY: Tahoma;  FONT-SIZE:12px }
.txtVN
{
    COLOR: #000000;
    FONT-FAMILY:  "Verdana", "Times New Roman", "Arial" ;
    FONT-SIZE: 12px;    
    TEXT-DECORATION: none
} 
.txt9VN
{
    COLOR: #000000;
    FONT-FAMILY:  "Times New Roman", "Arial" ;
    FONT-SIZE: 12px;    
    TEXT-DECORATION: none
} 
.TT {
	COLOR:#ffCC00
	border: 1px solid;
}
.font9
{
    FONT-FAMILY: "Verdana", "Arial";
    FONT-SIZE: 9PT;
    TEXT-DECORATION: none ;
    COLOR:#000000; 
    height : 22px ;
}  
.NV1         { cursor: hand; font-family: Arial; font-size: 9pt; font-weight: normal; 
               position: relative; color: #FFFFFF; 
               margin-left: 10px; margin-top: 1px }
.NV2         { font-size: 9pt; position: relative; color: #FFFFFF; margin-top: 1px }
.NV3         { font-size: 9pt; position: relative; color: #FFFFFF; margin-left: 20px; margin-top: 1px } 
.txtBK
{
    FONT-FAMILY: "Times New Roman", "Arial" ;
    FONT-SIZE: 22px;
    TEXT-DECORATION: none ;    
    height : 22px ;
}  
-->
</style>