body {
        margin:0;
	    padding:0;
	    background-color:#c4dafa;/*c4dafa*/
	    font-family:Arial;
}

a{
	outline:none;
	color:inherit;
	text-decoration:none;
}
a:hover{
	
}

.clr{
	clear:both;
	height:0px;
	margin:0;
	padding:0;
}
img
{
    vertical-align:middle;
    }

/*
#pnTopHeader
{
    width: 100%;
    height: 75px;
    margin: 0px;
    background-image: url('../../../Images/TabImg/banner.jpg');
}
*/
/* Begin Toolbar */

#pnToolBar
{
    padding: 4px 0px 0px 0px;
    margin: 0;
    height: 21px;
    width: 100%;
    font-size: 10pt;
    
    /*background-image: url('../../../Images/TabImg/toolBar.gif');*/
     background-image: url('../../../Images/TabImg/toolBar.jpg');
}

#pnChangeManage
{
    float:left;
    margin-left:0px;
    /*width:228px;*/
    height:100%;
    text-align:center;
}

#pnShowHeader
{    
    float:left;
    height:100%;
    width:10px;
}
#pnHideHeader
{    
    float:left;
    height:100%;
    width:10px;
}

#pnWellCome
{    
    float:left;
    height:100%;
    /*width:300px;*/
}

#pnHome
{    
    float:left;
    height:100%;
    /*width:70px;*/
    /*cursor:pointer;*/
    }
#pnInfoLeave
{    
    float:left;
    height:100%;
    /*width:100px;*/
    /*cursor:pointer;*/
    }
    
#pnLang
{
    float:left;
    height:100%;
    /*width:180px;*/
    
}

#pnRefresh
{    
    float:left;
    height:100%;
    /*width:230px;*/
    /*cursor:pointer;*/
    }
    
#pnLogOut
{
    margin-right:10px;
    float:right;
    height:100%;
    /*width:80px;*/
    text-align:right;
    /*cursor:pointer;*/
}
/* End Toolbar */

#pnFooter
{
    padding:0px 0px 0px 0px;
    width: 100%;
    height: 25px;
    font-size: 9pt;
    background-color: #DCF1F1;
    background-image: url('../../../Images/TabImg/toolBar.gif');
}

/* begin Table main style */
#tableMain
{
    
}
.main_td
{
    border: 1px solid #002d96;
}
 
#tdLeftMenu
{
    height: 100%;
    width: 218px;
    background-color: #ffffff;
    background-repeat: no-repeat;
}
#pnBarManage
{
    width:220px;
    height:25px;
    /*background-image: url('../../../Images/TabImg/header_frame.gif');*/
    background-image: url('../../../Images/TabImg/header_frame.jpg');
}
#pnBarTitle
{
    float:left;
    padding:3px 0px 0px 10px;
    width:170px;
    font-size:10pt;
    font-weight:bold;
    color:#ffffff;
}
/* end Table main style */



/* Begin menu style */
.menu_list {
	width: 100%;
}
.menu_head
{
    margin: 0px;
    padding: 5px 0px 5px 10px;
    height:17px;
    width:210px;
    cursor: pointer;
    position: relative;
    font-weight: bold;    
    background-color: #d5e1ff;
    background-image: url('../../../Images/TabImg/bg_menu_head.gif');
}
.menu_body {
	display:none;
}


.menu_Link
{
    padding: 5px 0px 5px 20px;
    font-size: 9pt;
    cursor: pointer;
    color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
}
.menu_Link:hover
{
    background-color: #c4dafa;
}

/* End menu style */
.button
{
    margin-top:2px;
    height: 22px;
    border: 1px solid #002d96;
    font-size: 8pt;
    cursor: pointer;
    background-image: url('../../../Images/TabImg/bg_button.gif');
}
.button:hover
{
    background-image: url('../../../Images/TabImg/bg_button_hover.gif');
}
