@charset "utf-8";
/* CSS Document */


h1 {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0.3em 0;
	text-indent:-99999px;
}
#nav {
	list-style: none;
	padding: 0;
	margin: 10px 0 20px 0;
	display: block;
	overflow: hidden;
	font-size: 0.9em;
	height:33px;
	text-transform:capitalize;
}
#nev
{
	list-style: none;
	padding: 0;
	margin: 10px 0 20px 0;
	display: block;
	overflow: hidden;
	font-size: 0.9em;
	height:33px;
	text-transform:capitalize;
}
#nav li {
	display: inline;
}
#nev li {
	display: inline;
}
#nav li a {
	display: block;
	float: left;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}
#nev li a {
	display: block;
	float: right;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}
#nav li a:hover {
}
#load {
	display: none;
	position: absolute;
	left: 450px;
	top: 150px;
	background: url(../../App_Themes/pwfBody/images/AjaxLoadingBar1.gif);
	width: 220px;
	height: 19px;
	text-align:center;
}

#content {
}
h2 {
	margin: 0;
	padding: 0.5em 0;
	color:#568945;
	font-family:Helvetica, Arial, Sans-serif;
}
p {
	margin: 0;
	padding: 0.4em 0;
	color:#686868;
	line-height:1.4em;
}
#content img.right {
	float: right;
	margin: 0 0 8px 8px;

}
#foot {
	padding: 15px;
	color: white;
	text-align: center;
	margin: 30px 0 0 0;
	border-top:1px solid #222222;
}
