*{margin:0;padding:0;}

body
{
	 FONT-FAMILY: Verdana;
    FONT-SIZE: 9pt;
    MARGIN-LEFT: 0px;
    MARGIN-TOP: 0px;
    overflow:auto;
    scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#C3C3C4;
	scrollbar-highlight-color:#ffffff;
	scrollbar-3dlight-color:#C3C3C4;
	scrollbar-darkshadow-color:#ffffff;
	scrollbar-track-color:#FFFFFF;
	scrollbar-arrow-color:#cccccc;
	background:#DCF1F1;
	background:-webkit-gradient(linear, left top, left bottom, from(#0099ff), to(#6882da));
	background:-moz-linear-gradient(top,  #DCF1F1,  #6882da);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#DCF1F1', EndColorStr='#6882da');
	 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#DCF1F1', EndColorStr='#6882da')";
}
#MasterPage{width:100%;margin:0px;padding:0;position:relative;display:block;HEIGHT:100%}
#TopMaster{width:100%;margin:0px;padding:0;position:relative;display:block;height:9%;background-color:#DCF1F1;border-style: none; border-color: Black;border-width:1px;}

/*Css cho Content  */
#ContentMaster{width:100%;margin:0px;height:88%;background-color:#DCF1F1;padding:0;position: relative;display:block;}

#LeftContentMaster{width:20%;float:left;height:99.7%;  background:#DCF1F1;
	background:-webkit-gradient(linear, left top, left bottom, from(#0099ff), to(#6882da));
	background:-moz-linear-gradient(top,  #DCF1F1,  #6882da);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#DCF1F1', EndColorStr='#6882da');
	 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#DCF1F1', EndColorStr='#6882da')";
}
#RightContentMaster{width:78%;overflow:hidden;float:left;border-width:0px;border-color:#ffffff;background-color:#DCF1F1;height:99.7%;text-align:left;padding-left:0px;}   
#RightContentMaster2{width:98.2%;overflow:hidden;float:left;background-color:#DCF1F1;height:99.7%;text-align:left;position:relative;display:block;padding-right:5px;}

#MiddleContentMaster{float:left;width:1%;position:relative;display:block;text-align:center;height:100%}

/*Fotter */
#FotterMaster{width:100%;background-color:#DCF1F1;position:relative;display:block;margin-top:0px;height:3%;}
p.shadowed {text-shadow: #167C99  2px 2px 5px;font-size:15pt;font-family:·s²Ó©úÅé;font-weight:bold; color:#ffffff; }
p.shadowed {width: 100%;letter-spacing:3pt;filter: glow(color=#167C99,strength=2);text-align:center;font-size:15pt;color:#ffffff;}
.CSsBar{height:20px;width:10px;position:relative;background-image:url(../../Images/MenuArea/XpTabBar/IEBaPrefix.gif);float:left;}
.CSsBar2{height:20px;float:left;position:relative;background-image:url(../../Images/MenuArea/XpTabBar/IEBarBg.jpg); background-repeat:repeat-x;width:98%}
.Csschange_Click{color:#6882da;}
.Csschange_Click:hover{color:#6882da;font-weight:bold;text-decoration:none;}
.Csslbl{font-size:13px;font-weight:bold;color:White;text-decoration:none;}
