div#navcontainer
{
font-family: arial;
font-weight: bold;
background: #fff;
position: absolute; 
margin: 0;
padding: 10px;
border: 0;
}

div#navcontainer ul
{
display: inline;
margin: 0;
padding: 0;
list-style: none;
border: solid 1px #642;
}

div#navcontainer h2
{
border: solid 0px #642;
padding: 4px;
text-align: center;
}

div#navcontainer ul li
{
display: inline;
margin: 0;
}

div#navcontainer ul li a
{
color: #a10;
background: #ffc;
margin: 0;
padding: 2px 5px 2px 5px;
text-decoration: none;
}

div#navcontainer ul li a:hover
{
background: #e8db6f;
border-bottom: solid 9px #ffc;
}

