#navcontainer
{
margin: 0;
padding: 0; 
font: 12px ·s²Ó©úÅé,Verdana, sans-serif;
width: 100%;
border-bottom: 1px solid #bbb;
list-style-type: none;
background: #fff;  
}

#navlist li
{
float: left;
margin: 0;
padding: 0;
width: auto;
display: block;
color:#000;
}

#navlist li a, #navlist li a:link
{
width:162;  
background: #fff;
color: #000; 
text-decoration: none;
padding: 3px 5px 3px 5px;
display: block;
border-bottom: 3px solid #fff;
}

#navlist li a:hover
{
width:162; 
color: #a10; 
border-bottom: 3px solid #f90;
cursor: pointer;
background: #ffc;
}

#navlist li a#current, #navlist li a#current:link
{
color: #000;
cursor: default;
font-weight: bold;
border-bottom: 3px solid #999;
}

#navlist li a#current:hover
{
border-bottom: 3px solid #642;
background: #eee;
}