/****************************************
系統名稱：越南人事簽核系統
版　　本：1
適用範圍：lgoin 畫面
初建日期：2008/03/26 (by Jessie)
修改日期：2008/03/26 (by Jessie)s
*****************************************/

BODY /*所有body標籤*/
{	background-attachment: fixed; /*背景不動*/
	background:#FFFFFF;
	border: 0;
	margin: 0;
	overflow:auto;
	padding: 0;
	scrollbar-face-color: #FFFFFF; /*卷軸表面*/
	scrollbar-darkshadow-color: #CCCCCC; /*卷軸暗陰影 (右下部份)*/
	scrollbar-highlight-color: #FFFFFF; /*卷軸加亮區 (左上部份)*/
	scrollbar-3dlight-color: #CCCCCC; /*卷軸立體亮區 (左上部份)*/
	scrollbar-arrow-color: #898989; /*卷軸中指標*/
	scrollbar-base-color: #CCCCCC; /**/
	scrollbar-track-color: #EAEAEA; /*卷軸軌道*/
}
BODY, TABLE
{	font:9pt;
}
IFRAME /*所有iframe標籤*/
{	width:100%;
	height:100%;
	overflow:auto;
}
IMG	/*所有img標籤*/
{	border:0;
}
.advice01 /*作業頁版權聲明*/
{	color:#8b8b8b;
	font:8pt 'Verdana';
	height:10px;
	margin:10px 0px;
}
.area_img /*主圖區*/
{	background:url(../pwfLogin/images/loginImg.jpg) 0 100%;
	height:360px;
	margin-bottom:6px;
	width:100%;
}
.area_left	/*左邊區域*/
{	padding:0 30px 0 45px;
	width:1px;
}
.area_logo	/*logo 區域*/
{	height:1px;
	padding:10px;
}
.area_login /*登入頁背景*/
{	background:url(../pwfLogin/images/bk.gif) repeat-x 0 50%;
	width:100%;
}
.area_main	/*主要內容區*/
{	background:#eff1e7;
	border:1px solid #b7b6b2;
	height:450px;
	padding:10px;
}
.area_msg	/*訊息區域*/
{	color:#fd5300;
	height:1px;
	line-height:1.4;
	padding:15px;
	width:100%;
}
.btn01ss_0	/*'...'查詢鈕預設時*/
{	background:url(../pwfLogin/images/btnImg/btn01ss_0.gif) no-repeat;
	background-color:transparent;
	border:0;
	color:#383838;
	cursor:hand;
	font:bold 8pt 'Verdana';
	height:20px;
	text-decoration:none;
	text-align:center;
	width:21px
}
.btn01ss_1	/*'...'查詢鈕滑鼠滑過時*/
{	background:url(../pwfLogin/images/btnImg/btn01ss_1.gif) no-repeat;
	background-color:transparent;
	border:0;
	color:#0154fc; 
	cursor:hand;
	font:bold 8pt 'Verdana';
	height:20px;
	padding-top:1;
	text-decoration:none;
	text-align:center;
	width:21px 
}
.btn01ss_2	/*'...'查詢鈕不能點選時*/
{	background:url(../pwfLogin/images/btnImg/btn01ss_2.gif) no-repeat;
	background-color:transparent;
	border:0;
	color:#c4c4c4;
	cursor:not-allowed;
	font:bold 8pt 'Verdana';
	height:20px;
	text-decoration:none;
	text-align:center;
	width:21px; 
}
.btn01s_0 /*一般按鈕(1~2字)預設時*/
{	background:url(../pwfLogin/images/btnImg/btn01s_0.gif) no-repeat;
	background-color:transparent;
	border:0; 
	color:#383838;
	cursor:hand;
	font:8pt '新細明體';
	height:20px;
	letter-spacing:1;
	text-align:center;
	text-decoration:none;
	width:47px; 
}
.btn01s_1 /*一般按鈕(1~2字)滑鼠滑過時*/
{	background:url(../pwfLogin/images/btnImg/btn01s_1.gif) no-repeat;
	background-color:transparent;
	border:0;
	color:#0154fc; 
	cursor:hand;
	font:8pt '新細明體';
	height:20px;
	letter-spacing:1;
	padding-top:1px;
	text-decoration:none;
	text-align:center;
	width:47px; 
}
.btn01s_2	/*一般按鈕(1~2字)不能點選時*/
{	background:url(../pwfLogin/images/btnImg/btn01s_2.gif) no-repeat;
	background-color:transparent;
	border:0;
	color:#c4c4c4;
	cursor:not-allowed;
	font:8pt '新細明體';
	height:20px;
	letter-spacing:1;
	text-decoration:none;
	text-align:center;
	width:47px; 
}
.btn01m_0 /*一般按鈕(3-5字)預設時*/
{	background:url(../pwfLogin/images/btnImg/btn01m_0.gif) no-repeat;
	background-color:transparent;
	border:0;
	color:#383838;
	cursor:hand;
	font:8pt '新細明體';
	height:20px;
	letter-spacing:1;
	text-align:center;
	width:70px;
}
.btn01m_1 /*一般按鈕(3-5字)滑鼠滑過時*/
{	background:url(../pwfLogin/images/btnImg/btn01m_1.gif) no-repeat;
	background-color:transparent;
	border:0;
	color:#0154fc;
	cursor:hand;
	font:8pt '新細明體';
	height:20px;
	letter-spacing:1;
	padding-top:1px;
	text-align:center;
	width:70px;
}
.btn01m_2	/*一般按鈕(3-5字)不能點選時*/
{	background:url(../pwfLogin/images/btnImg/btn01m_2.gif) no-repeat;
	background-color:transparent;
	border:0;
	color:#c4c4c4;
	cursor:not-allowed;
	font:8pt '新細明體';
	letter-spacing:1;
	height:20px;
	letter-spacing:1;
	text-align:center;
	width:70px;
}
.btn01b_0	/*一般按鈕(6字以上)預設時*/
{	background:url(../pwfLogin/images/btnImg/btn01b_0.gif) no-repeat;
	background-color:transparent;
	border:0;
	color:#383838;
	cursor:hand;
	font:8pt '新細明體';
	height:20px;
	letter-spacing:1;
	text-align:center;
	width:100px;
}
.btn01b_1	/*一般按鈕(6字以上)滑鼠滑過時*/
{	background:url(../pwfLogin/images/btnImg/btn01b_1.gif) no-repeat;
	background-color:transparent;
	border:0;
	color:#0154fc;
	cursor:hand;
	font:8pt '新細明體';
	height:20px;
	letter-spacing:1;
	padding-top:1px;
	text-align:center;
	width:100px;
}
.btn01b_2	/*一般按鈕(6字以上)不能點選時*/
{	background:url(../pwfLogin/images/btnImg/btn01b_2.gif) no-repeat;
	background-color:transparent;
	border:0;
	color:#c4c4c4;
	cursor:hand;
	cursor:not-allowed;
	font:8pt '新細明體';
	letter-spacing:1;
	height:20px;
	text-align:center;
	width:100px;
}
.frm_itm01	/*freeform 項目名稱01(齊右)*/
{	color:#70764e;
	font:9pt 'Arial';
	padding-top:6px;
	text-align:right;
	vertical-align:top;
}
.frm_itm02	/*freeform 項目名稱02*/
{	color:#70764e;
	font:9pt 'Arial';
	height:1px;
	padding-top:6px;
}
.frm_mark01 /*freeform 必填欄位"*"符號01*/
{	color:#FF0000;
	font:9pt 'Arial';
	margin-right:2px;
}
.frm_txt01	/*freeform 輸入欄位01*/
{	color:#000000;
	font:9pt 'Arial';
	padding:2px 2px 1px 2px;
}
.frm_txt02	/*freeform 輸入欄位外文字(例如選項)*/
{	border:0;
	color:#70764e;
	font:9pt 'Arial';
	padding:0px 1px;
	position:relative;
	top:-1;
}
.frm_txt03	/* 灰色欄位 */ 
{	background:#EBEBEB;
	color:#373737;
	font:9pt 'Arial';
	padding:0px 1px;
	position:relative;
	top:-1;
}
.scroll	/**/
{	height:100%;
	overflow:auto;
	width:100%;
}

