
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="js/jQuery-3.3.1.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/sidebar-menu.js"></script>
<script src="datepicker/bootstrap-datepicker.js"></script>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="css/mis.css">
<link rel="stylesheet" type="text/css" href="datepicker/datepicker.css">


<script type="text/javascript">//<![CDATA[
	window.onload=function(){
	var i = 0;
	var dragging = false;
	$('#dragbar').mousedown(function(e){
       e.preventDefault();
       dragging = true;
       var main = $('#main');
       var ghostbar = $('<div>',
                        {id:'ghostbar',
                         css: {
                                height: main.outerHeight(),
                                top: main.offset().top,
                                left: main.offset().left
                               }
                        }).appendTo('body');
        $(document).mousemove(function(e){
          ghostbar.css("left",e.pageX+2);
       });
    });
   $(document).mouseup(function(e){
       if (dragging) 
       {
           $('#sidebar').css("width",e.pageX+2);
           $('#main').css("left",e.pageX+2);
           $('#ghostbar').remove();
           $(document).unbind('mousemove');
           dragging = false;
       }
    });
  }
  //]]>
  
  
</script>

</head>
<body style="background: url(img/bg2.png) #fcfcfc; font-size:14px;">
	<!-- Top Navbar -->
	<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top shadow-sm" style="background-color:#fff !important">
    	
        <!-- Brand -->
      	<span class="navbar-brand" style="padding:0px 10px 0px 20px;">
        	<img src="img/logohoaduong4.png" height="30" class="d-inline-block align-top"><span class="text-danger"> <b>和唐</b> HÒA ĐƯỜNG</span>
        </span>
      	
      
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
            </ul>
            <!-- đường dẫn -->
			<div class="btn-sm rounded-pill" style="border:#CCC 1px solid; background:#f2f2f2;">
              <a href="mainpage.html" class="duongdan text-muted"><span class="fa fa-home"></span></a>
              <span class="duongdan text-muted" style="color:#ccc;">/</span>
              <a href="mainpage.html" class="duongdan text-muted">基本資料建檔護</a>
              <span class="duongdan text-muted" style="color:#ccc;">/</span>
              <a href="mainpage.html" class="duongdan text-muted">1.代碼檔維代</a>
            </div>
            <!-- END đường dẫn -->
            <span style="margin-left:10px; ">&nbsp;</span>
            <!-- Button User -->
            <div class="dropdown">
              <a class="btn btn-primary btn-sm rounded-pill dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-user"></span> 使用者名稱
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="font-size:14px">
                <a class="dropdown-item text-primary" href="#"><span class="fa fa-file "></span>&nbsp; 個人資料</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#"><span class="fa fa-key "></span>&nbsp; 修改密碼</a>
              </div>
            </div>
            <!--End button user -->
            <span style="margin-left:10px; ">&nbsp;</span>
            <!-- Log out button -->
            <div >
                <button class="btn btn-warning btn-sm text-white rounded-pill">
                <span class="fa fa-sign-out"></span> 登出</button>
            </div>
            <!-- end logout button -->
            <span style="margin-left:10px; ">&nbsp;</span>
            <div>
				<a href="#" style="margin:-7px 0px -9px 0px;" ><img src="img/vnflag-round-72.png" height="32" /></a>
            </div>
    </div>
</nav>
<!-- End Top Navbar -->

<!-- left side bar --> 

 <!-- button menu -->
    <div class="sidebar-toggle">
        <button type="button" class="btn btn-danger btn-sm btn-sidebar-toggle" id="btnopenside" onClick="openSidebar()" style="background-color:#9F0000; display:none">
            <span class="fa fa-arrow-right" style="width:14px;"></span>
        </button>
        <button type="button" class="btn btn-danger btn-sm btn-sidebar-toggle" id="btncloseside" onClick="closesidebar()" style="background-color:#9F0000;">
            <span class="fa fa-arrow-left"></span>
        </button>
    </div>
    <!-------------------------->
<div id="sidebar">
 <span id="position"></span>


<!-- Sidebar menu -->
<ul class="sidebar-menu">
	<!-- Cấp 1 -->
    <li class="sidebar-header" style="padding-left:50px;">主菜單 - MAIN MENU</li>
    <!--基本資料建檔護-->
    <li id="" class="menu-item">
        <a href="#"><i class="fa fa-folder-open"></i> <span class="toplang">基本資料建檔護</span><i class="fa fa-angle-left pull-right text-secondary"></i>
        	<br><span class="bottomlang">Tạo Dữ Liệu Cơ Bản </span></a>
            <ul class="sidebar-submenu">
            	<!-- Cấp 2 -->
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.代碼檔維代</span>
                    <br><span class="bottomlang">Mã Số Hồ Sơ</span></a>
                    <!-- Cấp 3 
                    <ul class="sidebar-submenu">
                    	<li id="" class="menu-item level-s">
                 			<a href="#"><i class="fa fa-mail-forward fa-flip-vertical"></i> sub2</a>
                		</li>
            		</ul>-->
    			</li>
                <!-- Cấp 2 -->
    			<li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.新增使用者</span>
                    <br><span class="bottomlang">Thêm Người Sử Dụng</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3.程式功能維護者 </span>
                    <br><span class="bottomlang">Chức Năng Chương Trình</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 4.權限功能維護 </span>
                    <br><span class="bottomlang">Chức Năng Quyền Hạn</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 5.使用者權限修改 </span>
                    <br><span class="bottomlang">Thay Đổi Quyền Hạn</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 6.休假日設定 </span>
                    <br><span class="bottomlang">Thiết Lập Ngày Phép</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 7.匯率 </span>
                    <br><span class="bottomlang">Tỷ Giá</span></a>
    			</li>
    		</ul>
    	</li>
        <!-------------------------------------------------->
        <!--員工基本資料-->
    <li id="" class="menu-item">
        <a href="#"><i class="fa fa-address-book"></i><span class="toplang"> 員工基本資料</span><i class="fa fa-angle-left pull-right text-secondary"></i>
        	<br><span class="bottomlang">DL Cơ Bản của NV</span></a>
            <ul class="sidebar-submenu">
            	<!-- Cấp 2 -->
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.晉升資料處理 </span>
                    <br><span class="bottomlang">Dữ Liệu Thăng Chức</span></a>
                    <!-- Cấp 3 
                    <ul class="sidebar-submenu">
                    	<li id="" class="menu-item level-s">
                 			<a href="#"><i class="fa fa-mail-forward fa-flip-vertical"></i> sub2</a>
                		</li>
            		</ul>-->
    			</li>
                <!-- Cấp 2 -->
    			<li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.調廠別/單位 </span>
                    <br><span class="bottomlang">Điều Chỉnh Xưởng / Đ.Vị</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3.員工獎懲紀錄 </span>
                    <br><span class="bottomlang">Thưởng Phạt Nhân Viên</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 4.員工證執照管理錄 </span>
                    <br><span class="bottomlang">QL Chứng Chỉ Nhân Viên</span></a>
    			</li>
                <hr style="padding:0px; margin:0px; border:#f1f1f1 3px solid; width:80%;" />
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.基本資料新增 </span>
                    <br><span class="bottomlang">Thêm Mới Nhân Viên</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.員工資料維護 </span>
                    <br><span class="bottomlang">Dữ Liệu Nhân Viên</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3.簽證資料維護</span>
                    <br><span class="bottomlang">QL Hồ Sơ VISA</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 4.幹部合同資料 </span>
                    <br><span class="bottomlang">DL Hợp Đồng Cán Bộ</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 5.員工教育訓練 </span>
                    <br><span class="bottomlang">Huấn Luyện NV Mới</span></a>
    			</li>
                <hr style="padding:0px; margin:0px; border:#f1f1f1 3px solid; width:80%;" />
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.員工資料查詢</span>
                    <br><span class="bottomlang">Kiểm Tra Dữ Liệu NV</span></a>
    			</li>
                <hr style="padding:0px; margin:0px; border:#f1f1f1 3px solid; width:80%;" />
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.列印員工個人資料 </span>
                    <br><span class="bottomlang">In Dữ Liệu NV</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.員工晉升資料明細 </span>
                    <br><span class="bottomlang">Chi Tiết NV Thăng Chức</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3.員工調動資料 </span>
                    <br><span class="bottomlang">Dữ Liệu Điều Động NV</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 4.人事異動申請表料 </span>
                    <br><span class="bottomlang">Đơn Xin Thay Đổi Nhân Sự</span></a>
    			</li>
                <li id="" class="menu-item level-s">
      				<a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 5.列印識別證 </span>
                    <br><span class="bottomlang">In Thẻ NV</span></a>
    			</li>
    		</ul>
    	</li>
        <!--薪資管理作業-->
    <li id="" class="menu-item">
        <a href="#"><i class="fa fa-money"></i><span class="toplang"> 薪資管理作業</span><i class="fa fa-angle-left pull-right text-secondary"></i>
        	<br><span class="bottomlang">QL Tiền Lương</span></a>
            <ul class="sidebar-submenu">
            	<!-- Cấp 2 -->
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.關帳(資料備份) </span>
                    <br><span class="bottomlang">Khóa Sổ</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.新資資料代碼建檔 </span>
                    <br><span class="bottomlang">Hồ Sơ Lương(Mã Thay thế)</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3.薪資計算檢核 </span>
                    <br><span class="bottomlang">Kiểm Tra Tính Lương</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 4.薪資基本設定 </span>
                    <br><span class="bottomlang">Thiết Lập Cơ Bản Lương</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 5.薪資轉檔 </span>
                    <br><span class="bottomlang">Chuyển Lương</span></a>
    			</li>
                <hr style="padding:0px; margin:0px; border:#f1f1f1 3px solid; width:80%;" />
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.基本薪資管理 </span>
                    <br><span class="bottomlang">QL Lương Cơ Bản</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.員工保險與工團 </span>
                    <br><span class="bottomlang">Bảo Hiểm NV & Công Đoàn</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3.越南員工薪資 </span>
                    <br><span class="bottomlang">Lương NV (Việt Nam)</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 4.泰國員工薪資</span>
                    <br><span class="bottomlang">Lương NV (Thái Lan)</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 5.中國員工薪資 </span>
                    <br><span class="bottomlang">Lương NV (Trung Quốc)</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 6.當月績效 </span>
                    <br><span class="bottomlang">Năng Suất Trong Tháng</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 7.員工績效獎金 </span>
                    <br><span class="bottomlang">Tiền Thưởng Năng Suất</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 8.轉帳/現金輸入 </span>
                    <br><span class="bottomlang">Chuyển Khoản / Tiền Mặt</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 9.海外差旅費(WP) </span>
                    <br><span class="bottomlang">Chi Phí Nước Ngoài(Lộ Phí)</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang">A.海外薪資 </span>
                    <br><span class="bottomlang">Lương NV Nước Ngoài</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> B.免稅額申請設定 </span>
                    <br><span class="bottomlang">Thiết Lập Mức Miễn Thuế</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> C 年終獎金 </span>
                    <br><span class="bottomlang">Thưởng Cuối Năm</span></a>
    			</li>
                <hr style="padding:0px; margin:0px; border:#f1f1f1 3px solid; width:80%;" />
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.員工薪資查詢 </span>
                    <br><span class="bottomlang">Kiềm Tra Lương NV</span></a>
    			</li>
                <hr style="padding:0px; margin:0px; border:#f1f1f1 3px solid; width:80%;" />
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.員工名條列印 </span>
                    <br><span class="bottomlang">In Danh Sách NV</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.薪資單列印 </span>
                    <br><span class="bottomlang">In Bảng Lương</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3.薪資明細表 </span>
                    <br><span class="bottomlang">Biểu Chi Tiết Lương</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 4.薪資匯總表 </span>
                    <br><span class="bottomlang">Biểu Tổng Kết Lương</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 5.年終獎金 </span>
                    <br><span class="bottomlang">Tiền Thưởng Cuối Năm</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 6.薪資簽收表 </span>
                    <br><span class="bottomlang">Biểu Ký Nhận Lương</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 7.加班費明細表 </span>
                    <br><span class="bottomlang">Chi Tiết Phí Tăng Ca</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 8.基本薪資明細表 </span>
                    <br><span class="bottomlang">Chi Tiết Lương Cơ Bản</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 9.績效獎金明細表 </span>
                    <br><span class="bottomlang">Chi Tiết Thưởng Năng Suất</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> A.保險與工團明細</span>
                    <br><span class="bottomlang">CT Phí Bảo Hiểm/Công Đoàn</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> B.其他收入明細表 </span>
                    <br><span class="bottomlang">Các Biểu Sửa Đổi Khác</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> C.員工離職補助金 </span>
                    <br><span class="bottomlang">Trợ Cấp NV Thôi Việc</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> D.其他扣除明細表 </span>
                    <br><span class="bottomlang">Các Chi Tiết Khấu Trừ Khác</span></a>
    			</li>
            </ul> 
      </li>
      <!--員工差勤作業-->
        <li id="" class="menu-item">
            <a href="#"><i class="fa fa-clock-o"></i><span class="toplang"> 員工差勤作業</span><i class="fa fa-angle-left pull-right text-secondary"></i>
                <br><span class="bottomlang">Chấm Công NV</span></a>
                <ul class="sidebar-submenu">
                    <!-- Cấp 2 -->
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.員工差勤作業A </span>
                        <br><span class="bottomlang">Chấm Công NV A</span></a>
                    </li>
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.員工差勤作業B </span>
                        <br><span class="bottomlang">Chấm Công NV B</span></a>
                    </li>
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3.忘刷卡管理作業 </span>
                        <br><span class="bottomlang">QL Quên Gạt Thẻ</span></a>
                    </li>
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 4.因公未刷卡管理 </span>
                        <br><span class="bottomlang">QL Công Tác Không Gạt Thẻ</span></a>
                    </li>
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 5.臨時卡資料 </span>
                        <br><span class="bottomlang">Dữ Liệu Thẻ Tạm</span></a>
                    </li>
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 6.應出勤工時 </span>
                        <br><span class="bottomlang">Giờ Làm Việc</span></a>
                    </li>
                    <hr style="padding:0px; margin:0px; border:#f1f1f1 3px solid; width:80%;" />
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.員工差勤查詢 </span>
                        <br><span class="bottomlang">Kiểm Tra Chấm Công NV</span></a>
                    </li>
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.出勤狀況查詢 </span>
                        <br><span class="bottomlang">Kiểm Tra Tình Trạng Chuyên Cần</span></a>
                    </li>
                    <hr style="padding:0px; margin:0px; border:#f1f1f1 3px solid; width:80%;" />
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.出勤明細表(依工號) </span>
                        <br><span class="bottomlang">CT Chấm Công (Số Thẻ)</span></a>
                    </li>
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.出勤明細表(依日期) </span>
                        <br><span class="bottomlang">CT Chấm Công (Ngày Tháng)</span></a>
                    </li>
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3.出勤統計表 </span>
                        <br><span class="bottomlang">Biểu Thống Kê Chấm Công</span></a>
                    </li>
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 4.自願加班申請單 </span>
                        <br><span class="bottomlang">Đơn Tự Nguyện Tăng Ca</span></a>
                    </li>
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 5.加班超過4H </span>
                        <br><span class="bottomlang">Tăng Ca Vượt 4h</span></a>
                    </li>
                    <li id="" class="menu-item level-s">
                        <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 6.異常出勤明細表 </span>
                        <br><span class="bottomlang">Biểu CT Chấm Công Khác Thường</span></a>
                    </li>
                </ul>
          </li>
          <!--員工請假資料-->
          <li id="" class="menu-item">
            <a href="#"><i class="fa fa-coffee"></i><span class="toplang"> 員工請假資料 </span><i class="fa fa-angle-left pull-right text-secondary"></i>
            <br><span class="bottomlang">DL NV Nghỉ Phép</span></a>
            <ul class="sidebar-submenu">
            	<li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.請假作業新增 </span>
                    <br><span class="bottomlang">NV Xin Nghỉ Phép</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.請假作業刪查 </span>
                    <br><span class="bottomlang">Kiểm Tra NV Nghỉ Phép</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3.員工年假統計 </span>
                    <br><span class="bottomlang">Thống Kê Phép Năm NV</span></a>
    			</li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 4 銷假作業 </span>
                    <br><span class="bottomlang">&nbsp;</span></a>
    			</li>
    		</ul>
    	</li>
        <!--報表資料維護-->
          <li id="" class="menu-item">
            <a href="#"><i class="fa fa-file-text-o"></i><span class="toplang"> 報表資料維護 </span><i class="fa fa-angle-left pull-right text-secondary"></i>
            <br><span class="bottomlang">QL Báo Biểu DL</span></a>
            <ul class="sidebar-submenu">
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.員工基本資料卡 </span>
                    <br><span class="bottomlang">Thẻ DL Cơ Bản NV</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.員工資料明細表 </span>
                    <br><span class="bottomlang">Biểu DL Chi Tiết NV</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3.出勤明細表(依工號) </span>
                    <br><span class="bottomlang">Chi Tiết Biểu Chấm Công (Số Thẻ)</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 4.出勤明細表(依日期) </span>
                    <br><span class="bottomlang">Chi Tiết Biểu Chấm Công (Ngày Tháng)</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 5.出勤統計表 </span>
                    <br><span class="bottomlang">Biểu Thống Kê Chấm Công</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 6.異常出勤明細表 </span>
                    <br><span class="bottomlang">Biểu CT TK Chấm Công Khác Thường</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 7.員工請假明細表 </span>
                    <br><span class="bottomlang">Biểu CT NV Xin Phép</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 8.人事異動申請表 </span>
                    <br><span class="bottomlang">Đơn Điều Động NV</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 9.海外工作人員合同 </span>
                    <br><span class="bottomlang">Hợp Đồng NV Nước Ngoài</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> A.勞動合同(政府版) </span>
                    <br><span class="bottomlang">Hợp Đồng Lao Động</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> B.員工考核表(年終) </span>
                    <br><span class="bottomlang">Biểu Khảo Hạch NV</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> Biểu ký hợp đồng </span>
                    <br><span class="bottomlang">Biểu ký hợp đồng</span></a>
                </li>
            </ul>
        </li>
        <!--接收卡鐘資料--->
        <li id="" class="menu-item">
            <a href="#"><i class="fa fa-fax"></i><span class="toplang"> 接收卡鐘資料 </span><i class="fa fa-angle-left pull-right text-secondary"></i>
            <br><span class="bottomlang">DL Máy Gạt Thẻ</span></a>
            <ul class="sidebar-submenu">
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.班別設定 </span>
                    <br><span class="bottomlang">Thiết Lập Ca</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.單位班次設定 </span>
                    <br><span class="bottomlang">Thiết Lập Phân Ca</span></a>
                </li>
                <hr style="padding:0px; margin:0px; border:#f1f1f1 3px solid; width:80%;" />
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.轉入差勤(F) </span>
                    <br><span class="bottomlang">Chuyển DL Chấm Công</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.轉入差勤 </span>
                    <br><span class="bottomlang">Chuyển DL Chấm Công</span></a>
                </li>
            </ul>
        </li>
        <!--員工扣款作業--->
        <li id="" class="menu-item">
            <a href="#"><i class="fa fa-minus-square"></i><span class="toplang"> 員工扣款作業 </span><i class="fa fa-angle-left pull-right text-secondary"></i>
            <br><span class="bottomlang">Khấu Trừ Lương NV</span></a>
            <ul class="sidebar-submenu">
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.轉入事故扣款 </span>
                    <br><span class="bottomlang">Khấu Trừ Sự Cố</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2.扣款新增作業 </span>
                    <br><span class="bottomlang">Thêm Mới Khấu Trừ</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3.事故(扣款)查詢 </span>
                    <br><span class="bottomlang">Kiểm Tra Khấu Trừ</span></a>
                </li>
                <hr style="padding:0px; margin:0px; border:#f1f1f1 3px solid; width:80%;" />
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1.事故扣款明細 </span>
                    <br><span class="bottomlang">Chi Tiết Khấu Trừ Sự Cố</span></a>
                </li>
            </ul>
        </li>
        <!--員工考核作業--->
        <li id="" class="menu-item">
            <a href="#"><i class="fa fa-thumbs-o-up"></i><span class="toplang"> 員工考核作業 </span><i class="fa fa-angle-left pull-right text-secondary"></i>
            <br><span class="bottomlang">Năng Suất NV</span></a>
            <ul class="sidebar-submenu">
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1. 考核表設定 </span>
                    <br><span class="bottomlang">Thiết Lập Biểu Khảo Hạch</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2. 主管設定 </span>
                    <br><span class="bottomlang">&nbsp;</span></a>
                </li>
                <hr style="padding:0px; margin:0px; border:#f1f1f1 3px solid; width:80%;" />
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 1. 員工績效考核 </span>
                    <br><span class="bottomlang">Khảo Hạch Năng Suất NV</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 2. 員工考核 </span>
                    <br><span class="bottomlang">NV Khảo Hạch</span></a>
                </li>
                <li id="" class="menu-item level-s">
                    <a href="#" class="border-left"><i class="fa fa-book"></i><span class="toplang"> 3. 考核獎金計算 </span>
                    <br><span class="bottomlang">Tiền Thưởng Năng Suất</span></a>
                </li>
            </ul>
        </li>
   <!-- Cấp 1  
   <li id="" class="menu-item">
        <a href="#"><i class="fa fa-folder-open"></i> Cấp 1 <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="sidebar-submenu">
            <li id="" class="menu-item level-s">
                <a href="#"><i class="fa fa-book"></i> Cấp 2 <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="sidebar-submenu">
                    <li id="" class="menu-item level-s"><a href="#"><i class="fa fa-mail-forward fa-flip-vertical"></i> Cấp 3</a></li>
                </ul>
            </li>
        </ul>
    </li>-->
</ul>

<!-- End sidebar -->

<!----------------------------------------------------->










</div>
<!-- end left sidebar -->
<div id="main" style="padding-bottom:50px; min-height:100%">
	<div id="dragbar"></div>
    <div class="container-fluid">
        <div class="col-md-12">
            <span class="topheader text-danger" ><i class="fa fa-folder-open"></i> 基本資料建檔護</span><br>
            <span class="bottomheader text-secondary">Khơi Tạo Dữ Liệu Cơ Bản</span>
        </div>
		<br>
        
        <!-- Table Form view -->
        <div class="container">
        <div class="table-responsive">
        	<form action="" method="" name="" id="">
          <table class="table table-bordered table-sm bg-white text-secondary">
            <tbody>
                <tr class="tr-hover">
                    <td class="frmtable-label">ID :</td>
                    <td ><input type="text" class="form-control form-control-sm mb-2 mt-2" placeholder=""></td>
                    <td class="frmtable-label">姓名 :</td>
                    <td><input type="text" class="form-control form-control-sm mb-2 mt-2" placeholder=""></td>
                    <td class="frmtable-label">身分證 :</td>
                    <td><input type="text" class="form-control form-control-sm mb-2 mt-2" placeholder=""></td>
                </tr>
                <tr class="tr-hover">
                    <td class="frmtable-label">國際 :</td>
                    <td >
                    	<select class="form-control form-control-sm mb-2 mt-2" id="">
                            <option>... 國際 ...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                    </td>
                    <td class="frmtable-label">廠商 :</td>
                    <td>
                    	<select class="form-control form-control-sm mb-2 mt-2" id="">
                            <option>... 廠商 ...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                    </td>
                    <td class="frmtable-label">部門 :</td>
                    <td>
                    	<select class="form-control form-control-sm mb-2 mt-2" id="">
                            <option>... 部門 ...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                    </td>
                </tr>
                <tr class="tr-hover">
                    <td class="frmtable-label">班別 :</td>
                    <td >
                    	<select class="form-control form-control-sm mb-2 mr-sm-2" id="">
                            <option>... 班別 ...</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                    </td>
                    <td class="frmtable-label">合同碼 :</td>
                    <td><input type="text" class="form-control form-control-sm mb-2 mt-2" placeholder=""></td>
                    <td class="frmtable-label">上班日:</td>
                    <td>
                    	<div class="input-group">
                          <select class="form-control form-control-sm mb-2 mt-2" id="">
                            <option value="">月</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                          </select>
                          <input type="text" aria-label="First name" class="form-control form-control-sm mb-2 mt-2" placeholder="日">
                          <input type="text" aria-label="Last name" class="form-control form-control-sm mb-2 mt-2" placeholder="年">
                    	</div>
                    </td>
                </tr>
                <tr class="tr-hover">
                    <td class="frmtable-label">說明 :</td>
                    <td colspan="5"><input type="text" class="form-control form-control-sm mb-2 mt-2" placeholder=""></td>
                </tr>
                <tr class="tr-hover">
                    <td colspan="6" class="text-center pt-3 pb-3">
                    	<button type="reset" class="btn btn-sm btn-outline-secondary"><span class="fa fa-eraser"></span> 清楚</button>
                		<button type="button" class="btn btn-sm btn-danger"><span class="fa fa-save"></span> 存檔</button>
                    </td>
                </tr>
                
            </tbody>
           </table>
           </form>
        </div>
        </div>
        <!-- end table form view -->
	</div>
      
</div>

<!-- The Form Add new Modal -->
<div class="modal" id="myFormAddNew">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title text-danger"><span class="fa fa-plus"></span> 新增新資料</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="" name="" method="" action="">
        	<div class="form-row">
            	<label class="col-md-2 col-form-label text-right">ID :</label>
                <div class="col">
                  <input type="text" class="form-control form-control-sm mb-2 mr-sm-2" placeholder="">
                </div>
                <label class="col-md-2 col-form-label text-right">姓名 :</label>
                <div class="col">
                  <input type="text" class="form-control form-control-sm mb-2 mr-sm-2" placeholder="">
                </div>
                <label class="col-md-2 col-form-label text-right">身分證 :</label>
                <div class="col">
                  <input type="text" class="form-control form-control-sm mb-2 mr-sm-2" placeholder="">
                </div>
            </div>
            <!------------------------------------------->
            <div class="form-row">
            	<label class="col-md-2 col-form-label text-right">國際 :</label>
                <div class="col">
                  <select class="form-control form-control-sm mb-2 mr-sm-2" id="">
                    <option>... 國際 ...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>	
                </div>
                <label class="col-md-2 col-form-label text-right">廠商 :</label>
                <div class="col">
                  <select class="form-control form-control-sm mb-2 mr-sm-2" id="">
                    <option>... 廠商 ...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <label class="col-md-2 col-form-label text-right">部門 :</label>
                <div class="col">
                  <select class="form-control form-control-sm mb-2 mr-sm-2" id="">
                    <option>... 部門 ...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
            </div>
            <!---------------------------------------->
            <div class="form-row">
            	<label class="col-md-2 col-form-label text-right">班別 :</label>
                <div class="col">
                  <select class="form-control form-control-sm mb-2 mr-sm-2" id="">
                    <option>... 班別 ...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>	
                <label class="col-md-1 col-form-label text-right">合同碼 :</label>
                <div class="col">
                  <input type="text" class="form-control form-control-sm mb-2 mr-sm-2" placeholder="">
                </div>
                <label class="col-md-1 col-form-label text-right">上班日:</label>
                <div class="col">
                	<div class="input-group">
                      <select class="form-control form-control-sm mb-2" id="">
                        <option value="">月</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>
                      <input type="text" aria-label="First name" class="form-control form-control-sm mb-2 " placeholder="日">
                      <input type="text" aria-label="Last name" class="form-control form-control-sm mb-2 " placeholder="年">
                    </div>

                </div>
            </div>
            <!--------------------------------------------->
            <div class="form-row">
            	<label class="col-md-2 col-form-label text-right">說明 :</label>
            	<div class="col">
                  <input type="text" class="form-control form-control-sm mb-2 mr-sm-2" placeholder="">
                </div>
            </div>
            <!--------------------------------------------->
            <div class="text-right">
                <button type="reset" class="btn btn-sm btn-outline-secondary"><span class="fa fa-eraser"></span> 清楚</button>
                <button type="button" class="btn btn-sm btn-danger"><span class="fa fa-save"></span> 存檔</button>
            </div>
        </form>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>
<!-- End The Form Add new Modal -->
<script>
function openSidebar(){
	if(($(window).width() < "750")&&($(window).width() > "450"))
	{
		document.getElementById("sidebar").style.width = "50%";
		document.getElementById("main").style.left = "50%";
		document.getElementById("btnopenside").style.display = "none";
		document.getElementById("btncloseside").style.display = "block";
	}
	else
	{
		document.getElementById("sidebar").style.width = "18%";
		document.getElementById("main").style.left = "18%";
		document.getElementById("btnopenside").style.display = "none";
		document.getElementById("btncloseside").style.display = "block";
	} 
	if($(window).width() <= "450")
	{
		document.getElementById("sidebar").style.width = "90%";
		document.getElementById("main").style.left = "90%";
		document.getElementById("btnopenside").style.display = "none";
		document.getElementById("btncloseside").style.display = "block";
	}
 	
}
function closesidebar(){
	document.getElementById("sidebar").style.width = "4px";
	document.getElementById("btnopenside").style.display = "block";
	document.getElementById("btncloseside").style.display = "none";
  	document.getElementById("main").style.left = "4px";
}
///////////////////////////////////////////////
$(document).ready(function(){
  $('.menu-item > a').click(function(e){
    e.preventDefault();
    $(this).next('.sidebar-submenu').slideToggle();
	//$(this).addClass("subactive");
	//$(this).css({"background-color":"yellow"});
  });
});



</script>


</body>
</html>
